@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

main {
  color: white;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  font-family: "NotoSans";
}

h1 {
  font-family: "Nunito";
  font-size: 8rem;
}

.f-degree::after {
  content: "°F";
  font-size: 0.5em;
  vertical-align: text-top;
}

.c-degree::after {
  content: "°C";
  font-size: 0.5em;
  vertical-align: text-top;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-weight: 300;
  font-size: 2rem;
}

main p,
main h2,
main h1,
main h3 {
  padding: 0;
  margin: 0;
}

main > div {
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(3px);
  padding: 1rem;
  border-radius: 15px;
}

.temp-info {
  display: flex;
  align-items: center;
}

.add-temp-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: bold;
  font-size: 1rem;
  border-left: 3px solid rgb(201, 193, 193);
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

.switch-btn {
  border-radius: 15px;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-style: solid;
  font-family: "Nunito";
  cursor: pointer;
}
